.luttins{
  width: 900px;
  height: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px -30px;
    li {
      display: inline-block;
      list-style: none;

      .bonhomme {
        width: 80px;
      }
    }
  }
}