/* line 1, ../sass/_standard.scss */
body {
  background: #7DBAAB;
}

/* line 4, ../sass/_standard.scss */
.content {
  width: 1180px;
  margin: 50px auto;
}
/* line 7, ../sass/_standard.scss */
.content .accueil {
  padding-top: 2vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* line 11, ../sass/_standard.scss */
.content .accueil_santa {
  width: 250px;
}
/* line 14, ../sass/_standard.scss */
.content .accueil_start {
  text-align: center;
  margin-top: 20px;
}
/* line 17, ../sass/_standard.scss */
.content .accueil_start_link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  border: 15px solid #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 125px;
  font-size: 4em;
  transition: all ease 0.3s;
}
/* line 29, ../sass/_standard.scss */
.content .accueil_start_link:hover {
  color: #7DBAAB;
  background: #ffffff;
  transition: all ease 0.3s;
}
/* line 36, ../sass/_standard.scss */
.content .accueil_rule {
  text-align: center;
  margin-top: 1.5em;
  color: #fff;
  font-size: 2em;
}
/* line 42, ../sass/_standard.scss */
.content .accueil_rule-text {
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  padding: 0 10%;
}

/* line 1, ../sass/_luttin.scss */
.luttins {
  width: 900px;
  height: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 8, ../sass/_luttin.scss */
.luttins ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0 20px -30px;
}
/* line 13, ../sass/_luttin.scss */
.luttins ul li {
  display: inline-block;
  list-style: none;
}
/* line 17, ../sass/_luttin.scss */
.luttins ul li .bonhomme {
  width: 80px;
}
